* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #2B3252;
}

h3 {
  display: block;
  color: #FAD744;
  font-size: 7em;
}

p {
  display: block;
  color: #FAD744;
  font-size: 3em;
}

#date {
  display: block;
  color: #FAD744;
  font-size: 1em;
  position: absolute;
  top: 5px;
  right: 5px;
}

#links {
  display: block;
  font-size: 4em;
  font-weight: 900;
  position: absolute;
  bottom: 5px;
}
.fab, .fas {
  color: #FAD744;
}

a {
  text-decoration: none;
}

a p {
  display: none;
  color: transparent;
}